// Font
$main-font          : 'Open Sans Regular', sans-serif;
$bold               : 'Open Sans Bold', sans-serif;
$light-font         : 'Open Sans Light', sans-serif;


// Size

$mainFontSize    : 16px;


// test colors
$main-text-color       : #0e3851;
$light-text-color      : #fff;
$link-hover-color      : #07a6cd;
$main-red-color        : #da1515;

// site colors

$main-color            : #0e3851;
$secondary-color       : #07a6cd;
$light-color           : #fff;