// Font
$main-font          : 'Open Sans Regular', sans-serif;
$bold               : 'Open Sans Bold', sans-serif;
$light-font         : 'Open Sans Light', sans-serif;


// Size

$mainFontSize    : 16px;


// test colors
$main-text-color       : #0e3851;
$light-text-color      : #fff;
$link-hover-color      : #07a6cd;
$gray-text             : #eee;

// site colors

$main-color            : #0e3851;
$midle-color           : #356079;
$secondary-color       : #07a6cd;
$light-color           : #fff;
$border-color          : #d6d6d6;
$dark-opacity-color    : rgba(0, 0, 0, 0.75);