.slider {

    .slide {
        position: relative;
        width: 100%;
        height: 500px;

        &__bg {
            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__wrap {
            position: relative;
            z-index: 9;
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        &__content {
            max-width: 500px;
            padding: 3rem;
            color: $light-text-color;
            background: $dark-opacity-color;

            h3 {
                margin-bottom: 1rem;
            }
            p {
                margin-bottom: 1rem;
            }
        }
    }

    .owl-prev {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        z-index: 10;
        
        span {
            font-size: 7rem;
            color: rgba(255,255,255,0.9);
        }
        &.disabled {
            span {
                color: rgba(255,255,255,0.4);
            }
        }
    }

    .owl-next {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        z-index: 10;
        
        span {
            font-size: 7rem;
            color: rgba(255,255,255,0.9);
        }
        &.disabled {
            span {
                color: rgba(255,255,255,0.4);
            }
        }
    }
}

.news {
    padding-top: 3rem;
    padding-bottom: 3rem;

    &__content {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    &__item {
        position: relative;
        width: 100%;
        padding: 1.5rem;
        margin: 0 auto;
        flex: 0 0 calc(33.333333% - 30px);
        max-width: calc(33.333333% - 30px);
        border: 1px solid $border-color;
    }
    &__img {
        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
    }
    &__title {
        margin-top: 1rem;
        font-size: rem(24);
        text-transform: uppercase;
    }
    &__date {
        margin-top: 0.5rem;
        display: block;
        font-size: rem(12);
        font-family: $bold;
    }
    &__text {
        margin-top: 1rem;
    }
    &__link {
        margin-top: 1rem;
    }
}