html {
	font-size: $mainFontSize;
}

body {
	padding: 0;
	margin: 0;
	letter-spacing: 0.02em;
	line-height: 1.2em;
	color: $main-text-color;
	background: $light-color;
	background-size: inherit;
	font-family: $main-font;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	letter-spacing: 0.02em;
	line-height: 1.4em;
}

p {
	margin: 0;
	padding: 0;
	letter-spacing: 0.02em;
	line-height: 1.4em;
}

ul,
li {
	display: block;
	padding: 0;
	margin: 0;
	letter-spacing: 0.02em;
	line-height: 1.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	letter-spacing: 0.02em;
	line-height: 1.2em;
	font-family: $bold;
}

h1 {
	font-size: rem(40);
}

h2 {
	font-size: rem(33);
}

h3 {
	font-size: rem(29);
}

h4 {
	font-size: rem(24);
}

h5 {
	font-size: rem(20);
}

h6 {
	font-size: rem(18);
}

a,
a:hover,
a:active  {
	transition: all 0.3s ease;
	text-decoration: none;
	color: inherit;
}

input:focus,
input,
input:hover,
input:active,
button:focus,
button,
button:hover,
button:active {
	outline: none;
}

button {
	cursor: pointer;
	letter-spacing: 0.02em;
	border: none;
}

.btn {
	display: flex;
    vertical-align: middle;
    margin: 0;
	padding: 15px;
	min-width: 150px;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-transition: background-color .25s ease-out;
    -o-transition: background-color .25s ease-out;
    transition: background-color .25s ease-out;
    font-family: inherit;
    font-size: 1.125rem;
    -webkit-appearance: none;
    line-height: 1.125rem;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: fit-content;
    cursor: pointer;
    background-color: $secondary-color;
	color: $light-text-color;
	
	&:hover {
		color: $light-text-color;
		background-color: $midle-color;
	}
}

input {
	background: transparent;
	border: none;
	padding: 5px 0;
}

.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.item-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	padding: 0 calc(50% - 590px);
}

.ttu {
	text-transform: uppercase;
}
.tac {
	text-align: center;
}

.title-h2 {
	margin-bottom: 2rem;
}